
  <h1 class="text-2xl font-black tracking-tight mb-6">Nouvelle collection</h1>

  <%= form_with model: @collection, local: false do |f| %>
    <div class="flex flex-col gap-4">

      <div>
        <label class="text-sm font-semibold text-gray-600 mb-1 block">Titre</label>
        <%= f.text_field :title, placeholder: "Ma collection Batman...", class: "w-full border border-gray-200 rounded-xl px-4 py-3 text-sm focus:outline-none focus:border-purple-400 transition-colors duration-200" %>
      </div>

      <div>
        <label class="text-sm font-semibold text-gray-600 mb-1 block">Description</label>
        <%= f.text_area :description, placeholder: "Décrivez votre collection...", rows: 3, class: "w-full border border-gray-200 rounded-xl px-4 py-3 text-sm focus:outline-none focus:border-purple-400 transition-colors duration-200 resize-none" %>
      </div>

    </div>
    <div>
      <label class="text-sm font-semibold text-gray-600 mb-3 block">Catégorie</label>

      <div data-controller="category">
        <%= f.hidden_field :category, data: { category_target: "input" } %>
        <% category_to_icon = {
          "movies"        => "movies",
          "music"         => "music",
          "video_games"   => "video_games",
          "figurines"     => "figurines",
          "trading_cards" => "trading_cards",
          "board_games"   => "board_games",
          "books"         => "book",
          "mixed"         => "mixed",
          "other"         => "other"
        } %>
        <div class="grid grid-cols-3 gap-2">
          <% Collection::CATEGORIES.each do |cat| %>
            <div data-category-target="card"
                data-category="<%= cat %>"
                data-action="click->category#select"
                class="border-2 border-gray-100 bg-white rounded-xl p-3 flex flex-col items-center gap-2 cursor-pointer transition-all duration-150 active:scale-95">
              <%= render "collections/icons/#{category_to_icon[cat]}" %>
              <span class="text-xs font-medium text-gray-500"><%= cat.humanize %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-4 flex items-center justify-between bg-gray-50 rounded-xl px-4 py-3">
      <div>
        <p class="text-sm font-semibold text-gray-600">Collection publique</p>
        <p class="text-xs text-gray-400">Visible par tous les utilisateurs</p>
      </div>
      <%= f.check_box :public, class: "w-5 h-5 accent-purple-600" %>
      </div>
    <div>
      <label class="text-sm font-semibold text-gray-600 mb-1 block">Image de couverture</label>
        <%= f.file_field :cover_image, accept: "image/*", class: "w-full border border-gray-200 rounded-xl px-4 py-3 text-sm focus:outline-none focus:border-purple-400" %>
    </div>
    <%= f.submit "Valider", class: "mt-4 w-full bg-purple-600 text-white font-semibold py-3 rounded-xl shadow-md shadow-purple-200 active:scale-95 transition-transform duration-150" %>
  <% end %>
</div>
